Repository pedrowillliam/Battleship, pull requests merged in 2025-04, with the labels that each got.

#34 feat: adicionar funcionalidade de ranking
  backend/controllers/ranking.js
  backend/models/ranking.js
  backend/routes.js
  backend/server.js
Labels: backend

#36 feat(backend): game logic
  backend/controllers/board.js
  backend/mock/opponentBoard.js
  backend/models/board.js
  backend/routes.js
  frontend/api/game.js
  frontend/battleship/game.html
  frontend/components/board.css
  frontend/components/board.html
  frontend/css/game.css
  frontend/script/board.js
Labels: backend, frontend

#38 interface da pagina inicial + alguns ajustes de rotas.
  frontend/api/login.js
  frontend/css/style.css
  frontend/script/board.js
  frontend/script/index.js
  index.html
Labels: frontend

#41 feat(frontend): ship placement
  backend/controllers/board.js
  frontend/battleship/game.html
  frontend/components/placeShip.css
  frontend/components/placeShip.html
  frontend/script/placement.js
Labels: frontend

#40 logica de mútiplos disparos
  backend/models/board.js
  frontend/api/game.js
Labels: backend

#46 Integração da listagem de ranking
  backend/models/ranking.js
  frontend/api/ranking.js
  frontend/api/register.js
  frontend/components/ranking.html
  frontend/css/style.css
Labels: frontend

#47 BACKEND IA] Implementado sistema de múltiplos disparos para a IA #42
  backend/controllers/board.js
Labels: backend, IA

#49 Posicionamento aleatório dos navios da IA
  backend/controllers/board.js
  backend/robot/randomShipPlacement.js
Labels: backend, IA

#48 Implementa lógica de vitória
  backend/controllers/board.js
  backend/models/board.js
Labels: backend, IA

#53 feat: integrate logic vitory
  backend/controllers/board.js
  backend/models/board.js
  frontend/api/game.js
Labels: backend, frontend
